.first {
    padding-top: 220px;
    min-height: 600px;
    height: 100vh;
    color: var(--white-color);
    background-image: url("/Вёрстка макета из Figma/img/first_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first__link {
    padding: 18px 30px 17px;
    border-radius: 24px;
    opacity: 0.4;
    color: var(--white-color);
    background: var(--dark-color);
}