.first {
    padding-top: 220px;
    min-height: 600px;
    height: 100vh;
    color: var(--white-color);
    background-image: url("/Вёрстка макета из Figma/img/first_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first__link {
    display: inline-block;
    margin-bottom: 40px;
    padding: 18px 30px 17px;
    border-radius: 32px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(28,46,61,.4);
}

.first__title {
    margin-bottom: 40px;
    max-width: 600px;
    font-size: 80px;
    line-height: 84px;
}

.first__description {
    margin-bottom: 60px;
    max-width: 500px;
    font-family: 'SFCompact', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.first__btn {
    height: 80px;
    width: 274px; 
    border-radius: 8px;
    background-color: var(--accent-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--white-color);
}