* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
header,footer,nav,aside {display: block;}
html,body {height: 100%;width: 100%;font-size: 16px;font-family: Roboto,sans-serif;line-height: 1;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

.wrapper {
}
.block {
}

.block__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border: 20px solid #ece89d;
    margin: 0 0 20px 0;
}

.block__column_1 {
    order: 3;
}

.block__column_2 {
    order: 2;
}

.block__column_3 {
    order: 1;
    align-self: flex-end;
}

.block__column {
    flex-basis: 50px;
    border: 20px solid #5e5373;
}

.block__item {
    padding:  50px;
    font-size: 50px;
    color: white;
    font-weight: 700;
    background-color: #18b5a4;
}

.block__row > .block__column:nth-child(2) > .block__item {
    padding: 90px;
}
