body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.box {
  max-width: 1260px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .box {
    max-width: 800px; // comment
  }
}

.header__Section1 {
  background-color: #f9f9f9;
  height: 40px;
}

.header__Section2 {
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__Section3 {
  background-color: #dbf5ff;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__Section3 .box > span:not(:last-child) {
  margin-right: 36px;
}

.header__Section3 .box {
  font-size: 18px;
}

.header__Section3 .box:not(:last-child) {
  margin-bottom: 14px;
}

.Section_1 {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navigation > a {
  margin-left: 17px;
  font-size: 14px;
  color: #606060;
  text-decoration: none;
}
.separator {
  color: #d9d9d9;
}
.numbers {
  font-size: 22px;
  line-height: 1.1;
}
.schedule {
  font-size: 14px;
  line-height: 1.5;
  color: #8b8b8b;
}
.search {
  width: 200px;
  height: 40px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #606060;
  padding-left: 17px;
}
.basket {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.basket .img {
  margin-right: 8px;
}

.account {
  font-size: 16px;
  line-height: 1.5;
  color: #57c8cf;
}

.sales {
  color: #ff8000;
}

.content1 {
  margin-top: 40px;
  display: flex;
}

.text_content1 {
  margin-left: 56px;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.headline1 {
  font-size: 45px;
  line-height: 1.1;
  max-width: 500px;
}

.content1 > img {
  height: 442px;
  width: 696px;
}
.text_content1 > p {
  margin-top: 16px;
  margin-bottom: 0;
  max-width: 480px;
}

.content2 {
  width: 1260px;
  height: 400px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.img4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
