/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/*Импорты*/
@import url('./fonts.css');

/*--------------------*/

body {
    font-family:'Lato';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 82px;
}

.header__list > .header__item:last-child{
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

.header__link:focus {
    color: #E15C3D;
}

.header__link:active {
    color: #3B3B3B;
}