* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

header,footer,nav,aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "PT Sans";
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
 list-style: none;
}

img {
    vertical-align: top;
}

.second-line__basket path{
    fill: black;
}

.second-line__search path{
    fill: black;
}

.header {
}
.first-line {
}
.contacts {
}
.contacts__phone {
}
.contacts__separator {
}
.contacts__time-table {
}
.contacts__time {
}
.personal {
}
.personal__enter {
}
.personal__separator {
}
.personal__registrartion {
}
.second-line {
}
.second-line__logo {
}
.second-line__nav {
}
.second-line__button {
}
.second-line__icons {
}
.second-line__basket {
}
.second-line__search {
}
.container {
}
.main-screen {
}
.main-screen__title {
}
.main-screen__logo {
}
.main-screen__description {
}
.season-collection {
}
.season-collection__collection {
}
.h2 {
}
.season-collection-card {
}
.season-collection-card_title {
}
.season-collection-card__price {
}
.season-collection__new-collection {
}
.main-button {
}
