* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

header,footer,nav,aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "PT Sans";
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
 list-style: none;
}

img {
    vertical-align: top;
}

.first-line__container {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    padding: 14px 0;
    margin: 0 auto;
}

.header {
}

.first-line {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    background-color: #000000;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 355px;
    color: #969696;
}
.contacts__phone {
}
.contacts__separator {
}
.contacts__time-table {
}
.contacts__time {
}
.personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 128px;
    color:#969696;
}
.personal__enter {
}

.personal__enter{
    display: inline-block;
    padding-left: 8px;
}
.personal__separator {

}
.personal__registrartion {
}
.second-line {
    position: fixed;
    width: 100%;
    min-height: 44px;
    top: 44px;
    left: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: white;
    fill: white;
    background-color: #0f0f0f;
}
.second-line__logo {
}
.second-line__nav {
}
.second-line__button {
}
.second-line__icons {
}
.second-line__basket {
}
.second-line__search {
}
.container {
}
.main{
    color: white;
    margin-top: 124px;
}
.main-screen {
    min-height: 810px;
    background-image: url(../img/mainscreen.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: auto auto;
}
.main-screen__title {
}
.main-screen__logo {
}
.main-screen__description {
}
.season-collection {
}
.season-collection__collection {
}
.h2 {
}
.season-collection-card {
}
.season-collection-card_title {
}
.season-collection-card__price {
}
.season-collection__new-collection {
}
.main-button {
}
